# OS stuff
._*
.DS_Store
[Dd]esktop.ini
*~
Thumbs.db

# Editor stuff
.idea/
.vscode/
*.sublime-*
*.vim
Package Control.*

# Dependencies
Brewfile.lock.json
node_modules/
python-vendor/
venv/
gitman-repositories/
bundle/
.bundle/

# Test artifacts
test-results/
playwright-report/

# Misc
.env
*.bak
tmp/
dist/
