# OS stuff
._*
.DS_Store
[Dd]esktop.ini
*~
Thumbs.db

# Editor stuff
.idea/
.vscode/
*.sublime-*
*.vim
Package Control.*

# Dependencies
Brewfile.lock.json
node_modules/
python-vendor/
venv/
git/

# Test artifacts
test-results/

# Misc
.env
*.bak
